/* WHOLE WEBSITE START */

body {
  background-color: #5B8142;
}

/* WHOLE WEBSITE */

/* NAVBAR START */

.nav-link-item {
  color: #fff;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 150px;
  text-decoration: none;
  position: relative;
}

.special-item {
  position: relative;
}

.special-item::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  right: 1px;
  bottom: -5px;
  transition: 0.5s;
}

.special-item:hover::after {
  width: 40%;
}

@media (min-width: 1400px) {
  .special-item {
    position: relative;
    left: 375px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .special-item {
    position: relative;
    left: 200px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .special-item {
    position: relative;
    left: 100px;
  }
}

@media (min-width: 1000px) and (max-width: 1099px) {
  .special-item {
    position: relative;
    left: 50px;
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  .special-item {
    position: relative;
    left: -120px;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .special-item {
    position: relative;
    left: -200px;
  }
}


@media (min-width: 767px) and (max-width: 799px) {
  .special-item {
    position: relative;
    left: -180px;
  }
}

@media (max-width: 799px) {
  .special-item::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    right: 1px;
    bottom: -5px;
    transition: 0.5s;
  }
  .special-item:hover::after {
    width: 0;
  }
}

@media (min-width: 765px) and (max-width: 767px) {
  .special-item {
    position: relative;
    left: -270px;
  }
}

@media (min-width: 660px) and (max-width: 764px) {
  .special-item {
    position: relative;
    left: -200px;
  }

  .nav-link-item {
    margin-left: 100px;
  }
}

@media (min-width: 600px) and (max-width: 659px) {
  .special-item {
    position: relative;
    left: -100px;
  }

  .nav-link-item {
    margin-left: 50px;
  }
}

@media (min-width: 576px) and (max-width: 599px) {
  .special-item {
    position: relative;
    left: -85px;
  }

  .nav-link-item {
    margin-left: 50px;
  }
}

@media (max-width: 549px) {
  .nav-link-item {
    text-align: center;
  }
}

/* NAVBAR END */

/* SUMMARY START */
.summary-section {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 15%;
}

.summary-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.boba {
  height: 60px;
  width: 60px;
}
/* SUMMARY END */

/* BOBA START */
.mouse-hand {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 515px;
  top: 610px;
  z-index: 1;
}

.boba-cup {
  height: 800px;
  width: 800px;
  position: relative;
  left: 650px;
}

.boba-section {
  position: absolute;
  left: 920px;
  bottom: 80px;

}

.boba-pearl {
  height: 50px;
  width: 50px;
  margin: 20px 20px 20px 20px;
}

/* Unique animations for each boba pearl */
.pearl1 {
  animation: move1 10s infinite alternate;
}

.pearl2 {
  animation: move2 8s infinite alternate;
}

.pearl3 {
  animation: move3 5s infinite alternate;
}

.pearl4 {
  animation: move4 9s infinite alternate;
}

.pearl5 {
  animation: move5 7s infinite alternate;
}

.pearl6 {
  animation: move6 6s infinite alternate;
}

@keyframes move1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(-3px, 3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(4px, 4px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  80% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move4 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(1px, -1px);
  }
  40% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move6 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* BOBA END */