body {
  background-color: #b2d3c2;
}

.nav-items {
  left: 50%;
}

.nav-link-item {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 200px;
  text-decoration: none;
  position: relative;
}

.nav-link-item:last-child {
  padding-right: 20px;
}

.special-item {
  position: relative;
}

.special-item::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  right: -10px;
  bottom: -5px;
  transition: 0.5s;
}

.special-item:hover::after {
  width: 40%;
}

@media (max-width: 1000px) {
  .collapsed-items {
    position: relative;
    right: 45%;
  }

}
